* {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
    color: dimgrey;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div {
    margin: 0px;
    padding: 0px;
}
.header {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center; 
    padding-top: .5em;
    flex-wrap: nowrap;
}
.logo img {
    height: 100px;
    margin: 0px;
    padding: 0px;
    padding-left: 3em;
}
.botonera {
    display: flex;
    list-style: none;
}
a {
    text-decoration: none;
    color: dimgray;
    letter-spacing: .2em;
}
nav li {
    font-size: 1.3em;
    margin-right: 1em;
    padding: .5em;
    transition: 300ms;
}
nav li:hover, nav li:active, nav li i:active {
  transition: 300ms;
  padding-top: .3em;
  border-bottom: 1px solid rgb(139, 24, 124);
}
.icono {
    margin-right: .5em;
}
.login {
    font-size: .9em;
}
.login a{
    color: darkred;
}
.producto-contenedor {
    display: flex;
    align-content: space-around;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;

}
.producto-side1 {
    padding: 0px;
    margin: 0px;
    width: 50%;
}
.producto-side1 img{
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.producto-side2 {
    display: flex;
    flex-direction: column; 
    width: 50%;
    text-align: center;

}
.titulo-card {   
    padding-top: 1em;
    font-size: 4em;
    color: rgb(168, 18, 88);
}
.contenido-card {
    padding-top: 1em;
    font-size: 2em;
}
.botones {
    margin-top: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn {
	line-height: 35px;
	margin: 8px;
	padding: 0 15px;
	font-size: 1em;
	border-radius: 3px;
}
.btn-comprar {
    background-color: dimgrey;
    color: whitesmoke;
}
.nuestras-marcas {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    width: 100%;
    font-size: 3em;
}
.nuestras-marcas-logo {
    background-image: url("../images/fondomarcas2.jpg");
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: auto;
    margin-bottom: .5em;
}
.fila-marcas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.fila-marcas img {
    width: 15%;
    height: 15%;
}

/*   FAQ   */
.contenedor-preguntas {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 3em;
}
.preguntas {
    display: flex;
    width: 100%;
}
.icono-preguntas {
    width: 40%;
    justify-content: flex-end;

}
.icono-faq {
    font-size: 10em;
}
.caja-preguntas {
    justify-content: flex-start;
}

.pregunta-parrafo {
    font-size: 2em;
}








/* Tablet */


@media (max-width: 768px) {


.header {
    padding: 0px;
    justify-content: space-between;

}
nav li {
    font-size: 1em;
    margin-right: 1em;
    padding: .2em;
}

.titulo-card {   
    padding-top: .5em;
    font-size: 3em;
}

}

/* Mobile */

@media (max-width: 480px) {

.header {
    flex-direction: column;
    align-content: center;
}

.botonera{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    font-size: 1em;
    padding: 0em;
}

.producto-contenedor {
    display: block ;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;

}
.producto-side1 {
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.producto-side1 img{
    width: 100%;
    height: 100%;
}
.producto-side2 {
    display: flex;
    flex-direction: column; 
    width: 100%;
    text-align: center;
}


#ladoA { order: 2; }
#ladoB { order: 1; }

.titulo-card {   
    padding-top: .4em;
    font-size: 3em;
    color: rgb(168, 18, 88);
}
.contenido-card {
    padding-top: .6em;
    font-size: 1.4em;
    box-sizing: content-box;
    padding: .5em;
}
.botones {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn {
	line-height: 35px;
	margin: 8px;
	padding: 0 15px;
	font-size: 1em;
	opacity: .999;
	border-radius: 3px;
}
.btn-comprar {
    background-color: dimgrey;
    color: whitesmoke;
}





}